* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #707070;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #272727;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.2;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p{
  margin-bottom: 0;
}

a {
  display: inline-block;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:hover,
a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul {
  margin: 0;
}

button,
input[type='button'] {
  cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}

input, textarea {
  border: none;
}

button {
  border: none;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  position: relative;
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

.page-container{    
  background: #f5fbfe;
  padding-right: 300px;
}

.sidebar{
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: hidden;
}

.inner-sidebar-content{
  position: relative;
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px);
}

.registration-form{
  padding: 120px 40px 0;
}

.registration-form .form-group{
  margin-bottom: -1px;
  border: 1px solid #ced4da;
  padding: 10px;
}

.registration-form .form-group label{
  font-size: 13px;
  margin-bottom: 0;
}

.registration-form .form-group .form-control{
  padding: 0;
  border: none;
}

.nfocus input[type=text]:focus:not([readonly]),
.nfocus input[type=email]:focus:not([readonly]),
.nfocus input[type=tel]:focus:not([readonly]){
  border: none;
  box-shadow: none;
}

/*-------------- header -------------*/

.header-top-menu{
  background-color: #f8fcff;
  padding: 10px 35px;
}

.header-top-menu h1{
  font-size: 38px;
}

.header-top-menu .navbar-nav .nav-item .nav-link{
  position: relative;
  color: #272727;
  font-weight: 700;
}

.header-top-menu .navbar-nav .nav-item .nav-link:hover{
  color: #42b6ee;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  background: #272727;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}
.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.dropdown-overlay {
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #f8fcff;
}

.top-banner{
  margin-top: 135px;
  padding: 0 35px;
}

.top-banner-text{
  margin-top: 210px;
  margin-bottom: 80px;
}

.top-banner-text h1{
  font-size: 60px;
}

.side-bar{
  margin-top: 120px;
}

.side-bar .table.table-bordered td{
  padding: 5px;
}

.side-bar .table.table-bordered td span{
  font-size: 12px;
}

.btn-blue{
  background-color: #004098;
  color: #ffffff;
  padding: 15px 80px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.btn-block{
  background-color: #004098;
  color: #ffffff;
  padding: 10px 20px;
  display: block;
  border-radius: 0;
  text-align: center;
}

.btn-blue:hover,.btn-block:hover{
  color: #ffffff;
  background-color: #1e5aac;
}

.btn-link{
  border: 2px solid #004098;
  color: #004098;
  padding: 7px 20px;
  display: block;
  border-radius: 0;
  text-align: center;
}

.btn-link:hover,.btn-link:focus{
  border: 2px solid #004098;
  color: #1e6fde;
  text-decoration: none;
}

.line-w-txt{
  overflow: hidden;
  text-align: center;
  font-size: 12px;
}

.line-w-txt:before,
.line-w-txt:after {
  background-color: #939393;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line-w-txt:before {
  right: 0.5em;
  margin-left: -50%;
}

.line-w-txt:after {
  left: 0.5em;
  margin-right: -50%;
}


/*---------------- main content ----------------*/

.main-content{
  min-height: 100vh;
}

.page-content{
  position: relative;
  margin: 0 auto;
  padding: 0 35px;
  z-index: 1;
}

.bg-1{
  position: relative;
  background-color: #dde8f4;
  padding: 50px 35px;
  margin-bottom: 40px;
}

.bg-1:after{
  position: absolute;
  bottom: -30px;
  left: 45%;
  content: "";
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 30px solid #dde8f4;
  border-bottom: none;
}

.bg-2{
  padding: 30px 60px;
  border: 2px solid #707070;
  border-radius: 5px;
}

.bg-wh{
  background-color: #ffffff;
}

.c1{
  color: #2194d3;
}

.listing{
  list-style: none;
  font-size: 18px;
}

.listing li{
  background: url(../images/icon.png) no-repeat;
  padding-left: 30px;
  background-position: 0;
  margin-bottom: 5px;
}

.page-content-p50{
  padding: 50px 0px;
}

.box-content{
  min-height: 320px;
  border: 2px solid #073c98;
  background-color: #ffffff;
  margin-top: 20px;
}

.box-content h3{
  background-color: #073c98;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 10px 0;
}

.box-content-icon{
  text-align: center;
  padding: 0px 10px 20px;
}

.box-content-icon .img99{
  height: 99px;
}

.box-content-text{
  border-top: 2px solid #073c98;
  padding: 20px 10px;
}

.box-content-1{
  text-align: center;
  border: 2px solid #073c98;
  background-color: #ffffff;
  margin-bottom: 15px;
}

.box-content-1 .img-60{
  height: 60px;
  padding: 12px;
}

.box-content-1 h3{
  background-color: #073c98;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
}

.au-btn{
  color: #ffffff;
  padding: 7px 35px;
  border-radius: 30px;
  margin-left: 50px;
  margin-right: 20px;
  max-width: 100%;
  width: 140px;
  text-align: center;
}

.blue{
  background-color: #004098;
}

.light-blue{
  background-color: #42b6ee;
}

.au-btn:hover{
  color: #ffffff;
}

.divider{
  width: 50%;
  height: 2px;
  background-color: #093c98;
  margin: 0 auto;
}

.num{
  color: #2194d3;
  font-size: 75px;
}

.font-s16{
  font-size: 20px;
}

.bg-3{
  margin-top: 30px;
  padding: 20px 10px;
  margin-bottom: 50px;
  border: 1px solid #707070;
}

.div-table {
  display: table;
}

.div-table .tr {
  display: table-row;
}

.div-table .tr .td {
  display: table-cell;
  padding: 5px 0;
  font-size: 20px;
}

.check-icon{
  background: url(../images/icon.png) no-repeat;
  padding-left: 25px;
  background-position: 0;
  margin-bottom: 5px;
}

.text{
  font-size: 26px !important;
  font-weight: 600;
  color: #000000;
  text-align: center;
}

.accordion .card{
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
}

.accordion .card-header{
  padding: 0px;
  padding-right: 15px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #073c98;
  cursor: pointer;
}

.accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f139";
  color: #0d3799;
  font-size: 24px;
  float: right; 
}

.accordion .card-header.collapsed:after {
  content: "\f13a"; 
}

.accordion>.card>.card-header{
  margin-bottom: 0;
}

.ques{
  background: #073c98;
  color: #fff;
  padding: 8px 12px;
  display: inline-block;
}

.ans{
  background: #ffffff;
  color: #073c98;
  font-weight: 600;
  padding: 8px 10px;
  display: inline-block;
}

.card-body{
  background-color: #fff;
  border: 1px solid #073c98;
  border-top: none;
  font-size: 20px;
  color: #000000;
  padding: 0;
}

.b-blue-right{
  border-right: 1px solid #073c98;
  padding-right: 7px;
}

.form-group.focused{
  border: 1px solid #42b6ee;
  color: #42b6ee;
  margin-bottom: 0;
  z-index: 2;
}

/*popup*/

.bg-overlay {
  position: fixed;
  z-index: 998;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.bg-overlay:target {
  visibility: visible;
  opacity: 1;
}

.subscribe-optin {
  position: relative;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  width: 80%;
  height: auto;
  background: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: .8rem;
}
.subscribe-optin h2 {
  padding: 1rem 0;
}
.subscribe-optin .optin-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
}
.subscribe-optin .optin-close:hover {
  color: #c7c7c7;
  transition: color 500ms ease;
}

/*padding, margin*/

.p-l-0{
  padding-left: 0;
}

.p-r-0{
  padding-right: 0;
}

.p-l-5{
  padding-left: 5px;
}

.p-r-5{
  padding-right: 5px;
}

.p-r-10{
  padding-right: 10px;
}

.m-l-0{
  margin-left: 0;
}

.m-r-0{
  margin-right: 0;
}

.m-lr-auto{
  margin: 0 auto;
}

.ml-30{
  margin-left: 30px;
}

/*------------- footer ----------------*/

.footer-content{
  background-color: #f5fbfe;
  padding: 10px 0;
}

.social-icon{
  list-style: none;
}

.social-icon li,.footer-menu li{
  float: left;
  margin-right: 15px;
}

.social-icon li a{
  color: #898f9c;
  font-size: 40px;
}

.social-icon li a .circle{
  font-size: 26px;
  color: #ffffff;
  background-color: #898f9c;
  border-radius: 50%;
  padding: 7px 10px 3px 12px; 
}

.footer-menu{
  margin-top: 16px;
  list-style: none;
  float: right;
}

.footer-menu li a{
  color: #898f9c;
  margin-top: 5px;
}

.footer-menu li a:hover{
  color: #42b6ee;
}

.copyright{
  text-align: right;
  margin-top: 16px;
}

/*------------------ responsive ---------------*/

@media(min-width: 1366px) and (max-width: 1675px){
  .top-banner-text h1{
    font-size: 40px;
  }
}

@media (max-width: 1365px) {
  .top-banner-text h1{
    font-size: 36px;
  }
}

@media (min-width: 1200px) and (max-width: 1280px) {
  .top-banner-text{
    margin-top: 150px;
  }
  .bg-2{
    padding: 30px 40px;
  }
}

@media (min-width: 992px) and (max-width: 1200px){
  h5{
    font-size: 15px;
  }

  .header-top-menu{
    padding: 10px 0;
  }

  .navbar-brand img{
    width: 160px;
  }

  .top-banner-text{
    margin-top: 100px;
  }

  .top-banner-text h1{
    font-size: 26px;
  }

  .btn-block,.btn-link{
    font-size: 12px;
  }

  .box-content-1 h3{
    font-size: 11px;
  }

  .listing li{
    background-position: 0 20%;
  }

  .box-content h3{
    font-size: 16px;
  }

  .box-content-icon .img99{
    height: 64px;
  }

  .bg-1:after{
    left: 42%;
  }

  .text{
    font-size: 18px !important;
  }

  .div-table .tr .td{
    font-size: 16px;
  }

  .btn-blue{
    padding: 15px 30px;
  }

  .social-icon li{
    margin-right: 7px;
  }

  .social-icon li a img{
    width: 28px;
  }

  .copyright{
    font-size: 13px;
    margin-top: 23px;
  }
}

@media (max-width: 991px){
  .navbar-collapse{
    border-top: 1px solid #ffffff;
    margin-top: 10px;
  }

  .header-top-menu{
    padding: 0;
    padding-bottom: 80px;
  }

  .header-top-menu .navbar{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
  }

  .navbar-dark .navbar-toggler{
    border-color: transparent !important;
  }

  .page-container{
    padding-right: 0;
  }

  .top-banner{
    margin-top: 0px;
    text-align: center;
  }

  .top-banner-text{
    margin-top: 40px;
  }

  .d-flex h5{
    font-size: 12px;
  }

  .au-btn{
    font-size: 14px;
  }

  .btn-blue{
    padding: 15px 20px;
    font-size: 18px;
  }

  .listing li{
    background-position: 0 15%;
  }

  .box-content-1{
    margin-top: 15px;
    margin-bottom: 0;
  }

  .ques{
    padding: 10px 15px;
  }

  .b-blue-right{
    padding-right: 8px;
  }

  .accordion .card-header h4{
    font-size: 18px;
  }

  .footer-menu{
    float: none;
  }

  .copyright{
    text-align: left;
  }

  .d-sm-block{
    display: block;
  }

  .registration-form{
    padding: 0;
  }

  .btn-back{
    color: #272727;
    display: inline-block;
    margin-top: 20px;
  }

  .btn-back::before{
    font-family: 'FontAwesome';  
    content: "\f060";
    padding-right: 10px;
  }

  .pl-sm-15{
    padding-left: 15px !important;
  }

  .pr-sm-15{
    padding-right: 15px !important;
  }

  .fixed-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    background: rgba(0,0,0,0.4);
    z-index: 99;
  }

}

@media(max-width: 899px){
  .div-table .tr .td{
    font-size: 18px !important;
  }
  .text{
    font-size: 20px !important;
  }
}

@media (max-width: 767px){
  .top-banner-text h1{
    font-size: 32px;
  }

  h2{
    font-size: 24px;
  }

  .box-content h3{
    font-size: 18px;
  }

  .box-content-1 h3{
    font-size: 11px;
  }

  .page-content{
    padding: 0 15px;
  }

  .top-banner{
    margin-top: 0px;
  }

  .d-xs-none{
    display: none;
  }

  .bg-1:after{
    left: 37%;
  }

  .news-list{
    flex-direction: column !important;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .news-list h5{
    font-size: 16px;
    margin-bottom: 0px;
  }

  .au-btn{
    margin: 0;
  }

  .div-table .tr .td{
    font-size: 18px !important;
  }

  .border-right{
    border: none !important;
  }

  .b-border{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dee2e6;
  }

  .check-icon{
    padding-left: 20px;
  }

  .text{
    font-size: 24px !important;
  }

  .ques{
    padding: 10px 11px;
  }

  .b-blue-right{
    padding-right: 1px;
  }

  .accordion .card-header{
    padding-right: 5px;
  }

  .accordion .card-header:after{
    font-size: 16px;
  }

  .side-bar{
    margin-top: 30px;
  }

  .num{
    font-size: 62px;
  }

  .bg-2{
    padding: 30px 20px;
  }

  .listing{
    font-size: 15px;
  }

  .mt-sm-15{
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img{
    width: 180px;
  }
  .btn-blue{
    padding: 10px 20px;
  }
}

@media (max-width: 414px){
  .accordion .card-header h4,.ans{
    font-size: 12px;
  }

  .card-body p{
    font-size: 14px;
  }
}

@media (max-width: 360px){
  h1{
    font-size: 32px;
  }

  .box-content-1 h3{
    font-size: 12px;
  }
}

@media (max-width: 320px){
  .navbar-brand img{
    width: 150px;
  }

  .box-content-1 h3{
    font-size: 10px;
  }

  .bg-2{
    padding: 15px 17px;
  }

  .btn-blue{
    font-size: 16px;
  }

  .accordion .card-header h4,.ans,
  .card-body p{
    font-size: 10px;
  }
}